.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2874f0;
    color: white;
    padding: 7px 7%;
}

.navbar_left {
    display: flex;
    align-items: center;
}

.navbar_left>p {
    font-weight: 800;
    font-size: 25px;
}

.navbar_left_input {
    width: 550px;
    margin-left: 10px;
    height: 30px;
}

.navbar_right {
    display: flex;
}

.navbar_right>p {
    margin-left: 25px;
    cursor: pointer;
    font-weight: 600;
}